# **Section: Python Packages**

In [72]:
# Importing all of the required python packages
import sys
import os
# import pandas as pd

In [90]:
# This reloads the extension if already loaded - Everytime you update the .py files, re-run this cell!
%reload_ext autoreload
# Automatically reloads modules before executing code OR makes Jupyter reload your .py files whenever you run a cell.
%autoreload 2

In [91]:
# Setting up the folder paths.
sys.path.append('./lib')

# ---- Import functions within .py files.
# From data_loader.py
from data_loader import load_csv, save_df_to_csv

# From data_wrangle.py
# ---- Section 1: Modular Functions ----
from data_wrangle import add_cols, remove_cols, drop_columns, remove_rows, remove_nan_cols, remove_nan_rows, col_name_changer, remove_leading_wspace, df_split, df_combo, select_columns, df_transpose
# ---- Section 2: Specific Functions ----
from data_wrangle import df_formater, df_split_state_city, remove_percent, remove_symbol, census_filter_cols, census_rename_cols, numeric_converter, diabete_metrics

# **Section: Loading and converting datasets into DataFrames**

In [16]:
df_indicators_raw = load_csv('./data/raw/U.S._Chronic_Disease_Indicators.csv')

In [17]:
df_census_raw = load_csv('./data/raw/US_Census_Data_2022_v04_transpose.csv')
print(df_census_raw.shape)

(784, 346)

In [24]:
df_chronic_raw = load_csv('./data/processed/Chronic_Disease_Final.csv')

# **Section: Data Wrangling**

Census DataFrame: df_census
1. Adding the 'State' column to the dataframe.
2. Adding the correct state name to the newly created State column.
3. Removing blank columns.
4. Removing blank rows.
5. Split DataFrame into 2 separate DataFrames, 1 with state and 1 with city, state; City, State Dataset no long need.
6. Split state DataFrame into 2 separate Dataset on State for  Estimate and Margin of Error.
7. Take only the estimate data base.
8. filter down by the only needed columns.
9. convert all values into numeric data type.
10. Combine Census and Chronic Diease dataset on State.
11. Save both DataFrames into csv files in /data/processed folder.

In [26]:
col_names = ['State']
df_census_temp0 = add_cols(df_census_raw, col_names)
# display(df_census_temp0)    # For debugging only - comment out when not needed.
print(df_census_temp0.shape)

(784, 347)

In [28]:
df_census_temp1 = df_formater(df_census_temp0)
# display(df_census_temp1)    # For debugging only - comment out when not needed.
print(df_census_temp1.shape)

(784, 347)

In [30]:
df_census_temp2 = remove_nan_cols(df_census_temp1)
# display(df_census_temp2)    # For debugging only - comment out when not needed.
print(df_census_temp2.shape)

(784, 310)

In [32]:
df_census_temp3 = remove_nan_rows(df_census_temp2)
# display(df_census_temp3)    # For debugging only - comment out when not needed.
print(df_census_temp3.shape)

(392, 310)

In [34]:
df_state_only, df_city_state = df_split_state_city(df_census_temp3, 'State')
# display(df_state_only)    # For debugging only - comment out when not needed.
# display(df_state_city)    # For debugging only - comment out when not needed.

In [36]:
# Remove State/location we do not care for.
state_remove = ['Guam', 'District of Columbia', 'Puerto Rico', 'United States', 'Virgin Islands']
df_state_only_updated = remove_rows(df_state_only, 'State', state_remove)
display(df_state_only_updated.head())

,State,Label (Grouping),TOTAL NUMBER OF RACES REPORTED!!Total population,TOTAL NUMBER OF RACES REPORTED!!Total population!!One race,TOTAL NUMBER OF RACES REPORTED!!Total population!!Two races,TOTAL NUMBER OF RACES REPORTED!!Total population!!Three races,TOTAL NUMBER OF RACES REPORTED!!Total population!!Four or more races,SEX AND AGE!!Total population,SEX AND AGE!!Total population!!Male,SEX AND AGE!!Total population!!Female,...,OWNER CHARACTERISTICS!!Owner-occupied housing units!!Median selected monthly owner costs with a mortgage (dollars),OWNER CHARACTERISTICS!!Owner-occupied housing units!!Median selected monthly owner costs without a mortgage (dollars),GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Occupied units paying rent (excluding units where GRAPI cannot be computed),GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!Less than 30 percent,GROSS RENT AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Occupied units paying rent (excluding units where GRAPI cannot be computed)!!30 percent or more,GROSS RENT!!Occupied units paying rent,GROSS RENT!!Occupied units paying rent!!Median gross rent (dollars),COMPUTERS AND INTERNET USE!!Total households,COMPUTERS AND INTERNET USE!!Total households!!With a computer,COMPUTERS AND INTERNET USE!!Total households!!With a broadband Internet subscription
2,Alabama,Estimate,"5,074,296",94.90%,4.70%,0.30%,0.10%,"5,074,296",48.50%,51.50%,...,"1,293",395,"517,883",50.50%,49.50%,"535,960",913,"2,016,448",94.00%,87.40%
3,Alabama,Margin of Error,*****,±0.2,±0.2,±0.1,±0.1,*****,±0.1,±0.1,...,±15,±5,"±11,892",±1.5,±1.5,"±11,920",±14,"±11,475",±0.3,±0.4
4,Alaska,Estimate,"733,583",85.80%,12.80%,1.30%,0.20%,"733,583",52.60%,47.40%,...,"2,019",629,"84,809",56.90%,43.10%,"85,226","1,329","274,574",97.30%,91.60%
5,Alaska,Margin of Error,*****,±1.0,±0.9,±0.3,±0.1,*****,±0.3,±0.3,...,±56,±18,"±4,489",±3.3,±3.3,"±4,502",±31,"±3,261",±0.5,±0.6
6,Arizona,Estimate,"7,359,197",80.60%,18.50%,0.80%,0.10%,"7,359,197",50.00%,50.00%,...,"1,616",468,"867,455",47.20%,52.80%,"887,809","1,450","2,850,377",96.40%,91.10%

In [38]:
# Filter out only columns we care about.
df_state_only_cols = census_filter_cols(df_state_only_updated)
display(df_state_only_cols.head())
# print(df_state_only_cols.columns)

,State,Label (Grouping),SEX AND AGE!!Total population,SEX AND AGE!!Total population!!Male,SEX AND AGE!!Total population!!Female,SEX AND AGE!!Total population!!18 years and over,SEX AND AGE!!Total population!!18 years and over!!Male,SEX AND AGE!!Total population!!18 years and over!!Female,EDUCATIONAL ATTAINMENT!!Population 25 years and over,EDUCATIONAL ATTAINMENT!!Population 25 years and over!!High school graduate or higher,...,HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!With private health insurance,HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!With public coverage,HEALTH INSURANCE COVERAGE!!Civilian noninstitutionalized population!!No health insurance coverage,POVERTY RATES FOR FAMILIES AND PEOPLE FOR WHOM POVERTY STATUS IS DETERMINED!!All people!!18 years and over,VEHICLES AVAILABLE!!Occupied housing units,VEHICLES AVAILABLE!!Occupied housing units!!None,VEHICLES AVAILABLE!!Occupied housing units!!1 or more,SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Housing units with a mortgage (excluding units where SMOC cannot be computed),SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Housing units with a mortgage (excluding units where SMOC cannot be computed)!!Less than 30 percent,SELECTED MONTHLY OWNER COSTS AS A PERCENTAGE OF HOUSEHOLD INCOME IN THE PAST 12 MONTHS!!Housing units with a mortgage (excluding units where SMOC cannot be computed)!!30 percent or more
2,Alabama,Estimate,"5,074,296",48.50%,51.50%,78.10%,47.80%,52.20%,"3,474,924",88.80%,...,67.00%,38.40%,8.80%,14.60%,"2,016,448",5.20%,94.80%,"768,014",77.00%,23.00%
3,Alabama,Margin of Error,*****,±0.1,±0.1,±0.1,±0.1,±0.1,"±5,963",±0.3,...,±0.5,±0.4,±0.3,±0.4,"±11,475",±0.3,±0.3,"±12,780",±0.8,±0.8
4,Alaska,Estimate,"733,583",52.60%,47.40%,76.00%,53.10%,46.90%,"489,218",93.30%,...,66.40%,37.20%,11.00%,10.10%,"274,574",9.10%,90.90%,"110,040",70.90%,29.10%
5,Alaska,Margin of Error,*****,±0.3,±0.3,±0.2,±0.2,±0.2,"±1,732",±0.7,...,±1.2,±1.2,±0.8,±0.8,"±3,261",±0.8,±0.8,"±4,022",±2.3,±2.3
6,Arizona,Estimate,"7,359,197",50.00%,50.00%,78.40%,49.70%,50.30%,"5,053,656",89.20%,...,63.90%,38.30%,10.30%,11.50%,"2,850,377",5.10%,94.90%,"1,180,749",73.70%,26.30%

In [40]:
# Updating the column labels to a more friendly version.
df_state_only_final = census_rename_cols(df_state_only_cols)
display(df_state_only_final.head())

,State,Label (Grouping),Total Pop,Total Pop - Male,Total Pop - Female,Total Pop 18 and Over,Total Pop 18 and Over – Male,Total Pop 18 and Over – Female,Pop 25 and Over - Educated,Pop 25 and Over – HS Graduate or Higher,...,Pop With Private Health Insurance,Pop With Public Health Insurance,Pop Uninsured,Pop 18 and Over Below Poverty,Occupied Housing Units,Households With No Vehicles,Households With 1 and Over Vehicles,Owner-Occupied With Mortgage,Mortgage Costs less than 30 percent Income,Mortgage Costs 30 precent or more of Income
2,Alabama,Estimate,"5,074,296",48.50%,51.50%,78.10%,47.80%,52.20%,"3,474,924",88.80%,...,67.00%,38.40%,8.80%,14.60%,"2,016,448",5.20%,94.80%,"768,014",77.00%,23.00%
3,Alabama,Margin of Error,*****,±0.1,±0.1,±0.1,±0.1,±0.1,"±5,963",±0.3,...,±0.5,±0.4,±0.3,±0.4,"±11,475",±0.3,±0.3,"±12,780",±0.8,±0.8
4,Alaska,Estimate,"733,583",52.60%,47.40%,76.00%,53.10%,46.90%,"489,218",93.30%,...,66.40%,37.20%,11.00%,10.10%,"274,574",9.10%,90.90%,"110,040",70.90%,29.10%
5,Alaska,Margin of Error,*****,±0.3,±0.3,±0.2,±0.2,±0.2,"±1,732",±0.7,...,±1.2,±1.2,±0.8,±0.8,"±3,261",±0.8,±0.8,"±4,022",±2.3,±2.3
6,Arizona,Estimate,"7,359,197",50.00%,50.00%,78.40%,49.70%,50.30%,"5,053,656",89.20%,...,63.90%,38.30%,10.30%,11.50%,"2,850,377",5.10%,94.90%,"1,180,749",73.70%,26.30%

In [42]:
# split the dataset into 2 datasets, 1 - estimate value, 1 - moe
df_state_only_estimate, df_state_only_moe = df_split(df_state_only_final, 'Label (Grouping)', 'Estimate', 'Margin of Error')
# display(df_state_only_estimate)         # For debugging only - comment out when not needed.
# display(df_state_only_moe)              # For debugging only - comment out when not needed.

In [44]:
df_state_only_estimate_no_percent = remove_percent(df_state_only_estimate)
display(df_state_only_estimate_no_percent.head())

,State,Label (Grouping),Total Pop,Total Pop - Male - %,Total Pop - Female - %,Total Pop 18 and Over - %,Total Pop 18 and Over – Male - %,Total Pop 18 and Over – Female - %,Pop 25 and Over - Educated,Pop 25 and Over – HS Graduate or Higher - %,...,Pop With Private Health Insurance - %,Pop With Public Health Insurance - %,Pop Uninsured - %,Pop 18 and Over Below Poverty - %,Occupied Housing Units,Households With No Vehicles - %,Households With 1 and Over Vehicles - %,Owner-Occupied With Mortgage,Mortgage Costs less than 30 percent Income - %,Mortgage Costs 30 precent or more of Income - %
2,Alabama,Estimate,"5,074,296",48.50,51.50,78.10,47.80,52.20,"3,474,924",88.80,...,67.00,38.40,8.80,14.60,"2,016,448",5.20,94.80,"768,014",77.00,23.00
4,Alaska,Estimate,"733,583",52.60,47.40,76.00,53.10,46.90,"489,218",93.30,...,66.40,37.20,11.00,10.10,"274,574",9.10,90.90,"110,040",70.90,29.10
6,Arizona,Estimate,"7,359,197",50.00,50.00,78.40,49.70,50.30,"5,053,656",89.20,...,63.90,38.30,10.30,11.50,"2,850,377",5.10,94.90,"1,180,749",73.70,26.30
8,Arkansas,Estimate,"3,045,637",49.40,50.60,77.20,48.80,51.20,"2,057,624",89.10,...,60.00,45.00,8.40,15.20,"1,216,207",6.50,93.50,"424,171",77.30,22.70
10,California,Estimate,"39,029,342",50.10,49.90,78.20,49.70,50.30,"26,866,773",84.70,...,63.80,40.00,6.50,11.30,"13,550,586",6.90,93.10,"5,044,333",62.20,37.80

In [46]:
# combine the 2 datasets into 1 main dataset - double the columns 
df_state_only_estimate_updated = df_state_only_estimate_no_percent.add_prefix('est - ')
# display(df_state_only_estimate_updated)
df_state_only_estimate_updated = df_state_only_estimate_updated.rename(columns={'est - State': 'State'})
df_state_only_estimate_updated = df_state_only_estimate_updated.drop(columns=['est - Label (Grouping)'])
display(df_state_only_estimate_updated.head())

,State,est - Total Pop,est - Total Pop - Male - %,est - Total Pop - Female - %,est - Total Pop 18 and Over - %,est - Total Pop 18 and Over – Male - %,est - Total Pop 18 and Over – Female - %,est - Pop 25 and Over - Educated,est - Pop 25 and Over – HS Graduate or Higher - %,est - Pop 25 and Over – Male HS and Over - %,...,est - Pop With Private Health Insurance - %,est - Pop With Public Health Insurance - %,est - Pop Uninsured - %,est - Pop 18 and Over Below Poverty - %,est - Occupied Housing Units,est - Households With No Vehicles - %,est - Households With 1 and Over Vehicles - %,est - Owner-Occupied With Mortgage,est - Mortgage Costs less than 30 percent Income - %,est - Mortgage Costs 30 precent or more of Income - %
2,Alabama,"5,074,296",48.50,51.50,78.10,47.80,52.20,"3,474,924",88.80,87.30,...,67.00,38.40,8.80,14.60,"2,016,448",5.20,94.80,"768,014",77.00,23.00
4,Alaska,"733,583",52.60,47.40,76.00,53.10,46.90,"489,218",93.30,93.30,...,66.40,37.20,11.00,10.10,"274,574",9.10,90.90,"110,040",70.90,29.10
6,Arizona,"7,359,197",50.00,50.00,78.40,49.70,50.30,"5,053,656",89.20,88.90,...,63.90,38.30,10.30,11.50,"2,850,377",5.10,94.90,"1,180,749",73.70,26.30
8,Arkansas,"3,045,637",49.40,50.60,77.20,48.80,51.20,"2,057,624",89.10,88.10,...,60.00,45.00,8.40,15.20,"1,216,207",6.50,93.50,"424,171",77.30,22.70
10,California,"39,029,342",50.10,49.90,78.20,49.70,50.30,"26,866,773",84.70,84.20,...,63.80,40.00,6.50,11.30,"13,550,586",6.90,93.10,"5,044,333",62.20,37.80

In [48]:
# Convert all values within the census DataFrame into Numerical value except for the "State" column.
df_census_final = numeric_converter(df_state_only_estimate_updated, 1)
display(df_census_final.head())

,State,est - Total Pop,est - Total Pop - Male - %,est - Total Pop - Female - %,est - Total Pop 18 and Over - %,est - Total Pop 18 and Over – Male - %,est - Total Pop 18 and Over – Female - %,est - Pop 25 and Over - Educated,est - Pop 25 and Over – HS Graduate or Higher - %,est - Pop 25 and Over – Male HS and Over - %,...,est - Pop With Private Health Insurance - %,est - Pop With Public Health Insurance - %,est - Pop Uninsured - %,est - Pop 18 and Over Below Poverty - %,est - Occupied Housing Units,est - Households With No Vehicles - %,est - Households With 1 and Over Vehicles - %,est - Owner-Occupied With Mortgage,est - Mortgage Costs less than 30 percent Income - %,est - Mortgage Costs 30 precent or more of Income - %
2,Alabama,5074296,48.5,51.5,78.1,47.8,52.2,3474924,88.8,87.3,...,67.0,38.4,8.8,14.6,2016448,5.2,94.8,768014,77.0,23.0
4,Alaska,733583,52.6,47.4,76.0,53.1,46.9,489218,93.3,93.3,...,66.4,37.2,11.0,10.1,274574,9.1,90.9,110040,70.9,29.1
6,Arizona,7359197,50.0,50.0,78.4,49.7,50.3,5053656,89.2,88.9,...,63.9,38.3,10.3,11.5,2850377,5.1,94.9,1180749,73.7,26.3
8,Arkansas,3045637,49.4,50.6,77.2,48.8,51.2,2057624,89.1,88.1,...,60.0,45.0,8.4,15.2,1216207,6.5,93.5,424171,77.3,22.7
10,California,39029342,50.1,49.9,78.2,49.7,50.3,26866773,84.7,84.2,...,63.8,40.0,6.5,11.3,13550586,6.9,93.1,5044333,62.2,37.8

Census DataFrame: df_chronic_raw
1. Remove all columns with "ConfidenceLimit" within

In [50]:
# Drop columns that have limited data or are not important to project.
cols_to_drop_confidence = ['ConfidenceLimit']
df_chronic1 = drop_columns(df_chronic_raw, cols_to_drop_confidence)
display(df_chronic1.head())

cols_to_drop_race = ["White", "Black", "Hispanic", "Hawaiian or Pacific Islander",
                       "American Indian or Alaska Native", "Multiracial", "Asian", "ConfidenceLimit"
                    ]
df_chronic_final = drop_columns(df_chronic1, cols_to_drop_race)
display(df_chronic_final.head())

,State,Males - Arthritis-DataValue,Males - Asthma-DataValue,Males - Bill Payment Instability-DataValue,Males - COPD-DataValue,Males - Diabetes-DataValue,Males - Obesity-DataValue,Males - Transportation Instability-DataValue,Females - Arthritis-DataValue,Females - Asthma-DataValue,...,Multiracial - Diabetes-DataValue,Multiracial - Obesity-DataValue,Multiracial - Transportation Instability-DataValue,Asian - Arthritis-DataValue,Asian - Asthma-DataValue,Asian - Bill Payment Instability-DataValue,Asian - COPD-DataValue,Asian - Diabetes-DataValue,Asian - Obesity-DataValue,Asian - Transportation Instability-DataValue
0,Alabama,30.3,7.4,11.1,8.1,14.8,35.8,9.7,37.7,11.7,...,NaN,30.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Alaska,22.0,7.5,10.2,4.9,8.7,31.2,10.1,25.6,14.1,...,6.6,36.6,16.4,13.2,NaN,NaN,NaN,17.0,24.2,NaN
2,Arizona,21.9,7.1,8.4,5.5,14.0,32.7,7.4,29.1,12.3,...,NaN,39.6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Arkansas,28.6,8.1,NaN,8.3,15.6,35.3,NaN,38.8,12.7,...,9.0,40.7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,California,18.0,5.9,12.6,4.2,12.0,28.4,8.9,22.8,11.4,...,11.4,26.6,11.2,10.2,5.8,6.3,1.9,11.4,12.5,4.1

,State,Males - Arthritis-DataValue,Males - Asthma-DataValue,Males - Bill Payment Instability-DataValue,Males - COPD-DataValue,Males - Diabetes-DataValue,Males - Obesity-DataValue,Males - Transportation Instability-DataValue,Females - Arthritis-DataValue,Females - Asthma-DataValue,...,Females - Diabetes-DataValue,Females - Obesity-DataValue,Females - Transportation Instability-DataValue,Overall - Arthritis-DataValue,Overall - Asthma-DataValue,Overall - Bill Payment Instability-DataValue,Overall - COPD-DataValue,Overall - Diabetes-DataValue,Overall - Obesity-DataValue,Overall - Transportation Instability-DataValue
0,Alabama,30.3,7.4,11.1,8.1,14.8,35.8,9.7,37.7,11.7,...,16.3,40.6,10.8,34.2,9.6,13.5,9.4,15.5,38.3,10.3
1,Alaska,22.0,7.5,10.2,4.9,8.7,31.2,10.1,25.6,14.1,...,8.7,33.3,10.7,23.7,10.7,12.3,5.6,8.7,32.1,10.4
2,Arizona,21.9,7.1,8.4,5.5,14.0,32.7,7.4,29.1,12.3,...,11.5,33.8,10.3,25.6,9.7,11.8,6.7,12.7,33.2,8.9
3,Arkansas,28.6,8.1,NaN,8.3,15.6,35.3,NaN,38.8,12.7,...,15.8,39.5,NaN,33.9,10.5,NaN,9.8,15.7,37.4,NaN
4,California,18.0,5.9,12.6,4.2,12.0,28.4,8.9,22.8,11.4,...,11.1,27.7,8.3,20.4,8.7,13.2,4.7,11.5,28.1,8.6

In [56]:
# Combine the chronic disease and census DataFrames.
df_final = df_combo(df_chronic_final, df_census_final, 'State', 'outer')
display(df_final)

,State,Males - Arthritis-DataValue,Males - Asthma-DataValue,Males - Bill Payment Instability-DataValue,Males - COPD-DataValue,Males - Diabetes-DataValue,Males - Obesity-DataValue,Males - Transportation Instability-DataValue,Females - Arthritis-DataValue,Females - Asthma-DataValue,...,est - Pop With Private Health Insurance - %,est - Pop With Public Health Insurance - %,est - Pop Uninsured - %,est - Pop 18 and Over Below Poverty - %,est - Occupied Housing Units,est - Households With No Vehicles - %,est - Households With 1 and Over Vehicles - %,est - Owner-Occupied With Mortgage,est - Mortgage Costs less than 30 percent Income - %,est - Mortgage Costs 30 precent or more of Income - %
0,Alabama,30.3,7.4,11.1,8.1,14.8,35.8,9.7,37.7,11.7,...,67.0,38.4,8.8,14.6,2016448,5.2,94.8,768014,77.0,23.0
1,Alaska,22.0,7.5,10.2,4.9,8.7,31.2,10.1,25.6,14.1,...,66.4,37.2,11.0,10.1,274574,9.1,90.9,110040,70.9,29.1
2,Arizona,21.9,7.1,8.4,5.5,14.0,32.7,7.4,29.1,12.3,...,63.9,38.3,10.3,11.5,2850377,5.1,94.9,1180749,73.7,26.3
3,Arkansas,28.6,8.1,NaN,8.3,15.6,35.3,NaN,38.8,12.7,...,60.0,45.0,8.4,15.2,1216207,6.5,93.5,424171,77.3,22.7
4,California,18.0,5.9,12.6,4.2,12.0,28.4,8.9,22.8,11.4,...,63.8,40.0,6.5,11.3,13550586,6.9,93.1,5044333,62.2,37.8
5,Colorado,21.3,7.9,NaN,4.9,8.8,24.9,NaN,26.3,13.7,...,70.5,33.3,7.1,9.0,2384584,5.0,95.0,1089369,70.6,29.4
6,Connecticut,23.0,8.9,10.0,4.6,11.6,30.4,6.9,30.6,15.7,...,68.9,37.6,5.2,9.2,1433635,9.0,91.0,610624,70.2,29.8
7,Delaware,21.8,7.0,9.1,5.6,15.0,35.3,6.8,33.1,12.5,...,71.8,39.5,5.6,8.5,402334,5.9,94.1,187123,75.8,24.2
8,Florida,24.8,5.1,9.4,6.7,14.0,32.4,7.8,31.8,13.2,...,63.6,37.5,11.2,11.6,8826394,6.0,94.0,3315723,65.8,34.2
9,Georgia,20.9,6.2,9.9,5.3,12.6,34.1,8.2,29.8,12.7,...,66.6,33.0,11.7,11.5,4092467,5.7,94.3,1705941,75.0,25.0
10,Hawaii,21.8,6.6,NaN,3.3,12.6,27.1,NaN,24.0,11.5,...,75.0,39.4,3.5,9.5,494827,8.1,91.9,192102,58.2,41.8
11,Idaho,22.7,9.2,9.1,5.9,11.0,33.4,6.5,30.5,12.9,...,68.3,37.2,8.2,9.9,717151,3.8,96.2,324332,72.5,27.5
12,Illinois,20.9,6.3,NaN,4.9,12.5,31.0,NaN,32.4,11.0,...,69.3,35.8,6.6,10.9,5056360,11.2,88.8,2065838,73.1,26.9
13,Indiana,25.4,7.8,8.8,8.0,13.8,36.6,7.0,33.0,14.0,...,68.4,36.8,7.0,11.6,2726489,6.4,93.6,1220587,79.7,20.3
14,Iowa,23.1,6.3,7.0,5.9,11.3,35.8,5.8,30.8,13.0,...,73.3,36.8,4.5,10.6,1330995,5.6,94.4,567684,79.7,20.3
15,Kansas,22.8,7.8,8.5,6.7,12.0,34.7,5.4,31.0,13.4,...,73.7,31.2,8.6,11.5,1175294,5.4,94.6,455414,77.3,22.7
16,Kentucky,28.9,7.7,8.0,10.2,14.4,38.7,6.7,37.8,13.7,...,62.8,45.2,5.6,15.2,1828680,6.4,93.6,709096,77.1,22.9
17,Louisiana,26.4,6.9,NaN,7.4,12.4,37.6,NaN,35.4,12.8,...,58.1,47.7,6.9,16.7,1816902,8.2,91.8,630584,71.7,28.3
18,Maine,28.4,9.0,7.7,8.3,12.0,32.6,7.3,36.5,17.0,...,68.7,40.5,6.6,10.6,605338,6.8,93.2,262894,70.5,29.5
19,Maryland,21.7,7.1,NaN,4.0,12.9,31.5,NaN,29.9,13.3,...,72.8,35.2,6.1,9.1,2375984,8.7,91.3,1137581,73.6,26.4
20,Massachusetts,22.3,8.1,9.1,4.5,12.0,28.0,8.0,29.9,14.2,...,73.4,37.8,2.4,10.1,2797776,11.8,88.2,1136176,69.7,30.3
21,Michigan,24.9,8.7,NaN,7.3,10.6,33.4,NaN,35.1,14.9,...,70.4,41.0,4.5,12.1,4089794,6.9,93.1,1724683,76.0,24.0
22,Minnesota,20.9,7.5,7.9,4.8,10.7,34.6,5.8,28.6,12.1,...,74.7,35.3,4.5,9.3,2322190,6.8,93.2,1072513,76.3,23.7
23,Mississippi,29.3,7.3,13.1,9.7,14.3,37.0,9.3,38.1,11.3,...,61.5,40.1,10.8,16.9,1148340,5.9,94.1,397659,73.1,26.9
24,Missouri,26.8,6.6,9.5,7.1,12.7,35.2,7.4,32.6,14.0,...,68.8,34.3,8.6,12.1,2521832,6.8,93.2,1019748,78.2,21.8
25,Montana,28.3,8.0,7.4,5.4,9.4,30.3,6.3,33.3,15.5,...,65.2,40.6,8.3,11.8,464072,4.2,95.8,172843,71.2,28.8
26,Nebraska,21.5,6.2,NaN,5.2,11.9,35.2,NaN,29.5,10.0,...,73.6,32.3,6.7,10.4,803157,5.2,94.8,313450,77.6,22.4
27,Nevada,22.8,7.9,13.2,6.5,10.3,31.9,7.8,28.5,12.4,...,63.4,36.9,11.1,11.4,1198356,7.0,93.0,473798,69.0,31.0
28,New Hampshire,25.2,9.0,7.4,5.9,10.7,30.2,5.5,33.0,17.0,...,75.6,33.5,4.9,7.3,557220,4.3,95.7,246059,71.3,28.7
29,New Jersey,19.4,6.2,11.7,4.9,11.7,30.7,5.9,27.2,11.4,...,71.2,33.6,6.8,8.8,3516978,10.9,89.1,1433834,68.4,31.6
30,New Mexico,24.5,7.7,12.7,4.9,12.8,32.4,9.1,30.9,13.0,...,54.4,51.2,8.2,16.0,848218,5.2,94.8,319989,70.5,29.5
31,New York,20.3,7.7,NaN,5.1,11.9,29.9,NaN,28.2,12.7,...,65.4,42.9,4.9,13.1,7774308,29.1,70.9,2438822,66.7,33.3
32,North Carolina,24.1,6.6,10.0,6.4,12.1,32.1,7.1,31.6,11.6,...,67.8,35.9,9.3,11.5,4299266,5.0,95.0,1770630,76.3,23.7
33,North Dakota,23.6,8.4,NaN,5.5,10.1,37.0,NaN,30.8,12.5,...,78.4,29.5,6.4,11.1,331481,5.3,94.7,115609,77.6,22.4
34,Ohio,27.3,7.6,NaN,8.5,13.3,37.2,NaN,35.1,15.0,...,68.1,38.8,5.9,12.2,4878206,7.2,92.8,1977558,79.3,20.7
35,Oklahoma,25.4,9.4,NaN,7.2,13.3,38.4,NaN,34.0,15.1,...,61.7,39.6,11.7,14.4,1573180,5.5,94.5,549866,75.2,24.8
36,Oregon,24.0,8.7,NaN,6.1,10.7,30.5,NaN,32.4,14.1,...,67.1,41.2,6.0,11.7,1726340,7.2,92.8,704150,68.1,31.9
37,Pennsylvania,27.3,7.4,NaN,6.4,11.6,32.4,NaN,36.2,12.6,...,71.2,38.8,5.3,10.9,5294065,10.5,89.5,2114599,75.8,24.2
38,Rhode Island,23.1,11.4,11.7,6.4,13.3,29.8,7.9,30.6,15.0,...,70.5,37.9,4.2,10.6,446688,9.8,90.2,185919,71.5,28.5
39,South Carolina,26.0,6.2,9.9,6.8,13.6,32.8,8.4,33.2,11.5,...,66.9,38.7,9.1,12.5,2136080,5.4,94.6,882309,74.8,25.2
40,South Dakota,21.9,6.9,NaN,6.0,10.2,36.6,NaN,32.5,9.8,...,73.3,32.0,8.1,11.6,368300,5.0,95.0,137709,77.9,22.1
41,Tennessee,29.5,8.3,10.9,10.1,16.2,35.1,9.2,37.0,14.9,...,67.2,35.9,9.3,12.1,2846684,5.1,94.9,1095432,74.9,25.1
42,Texas,18.0,4.8,11.9,4.9,14.4,34.4,8.0,26.4,10.9,...,62.8,29.6,16.6,12.3,11087708,5.4,94.6,3864485,70.9,29.1
43,Utah,19.4,8.1,8.0,3.9,9.4,31.7,5.6,25.5,13.9,...,78.4,22.2,8.1,8.1,1129660,3.7,96.3,549786,76.2,23.8
44,Vermont,25.0,9.5,5.7,6.3,8.5,26.0,5.9,32.2,16.1,...,70.0,41.9,3.9,10.2,277090,6.0,94.0,125139,70.1,29.9
45,Virginia,23.8,6.8,NaN,6.0,12.7,34.2,NaN,31.7,12.9,...,73.0,34.2,6.5,10.0,3380607,6.1,93.9,1516532,75.0,25.0
46,Washington,21.9,8.0,8.0,4.7,10.1,31.6,6.4,29.7,13.8,...,70.8,36.3,6.1,9.6,3079953,6.8,93.2,1294678,70.5,29.5
47,West Virginia,35.7,9.2,10.2,12.9,17.3,41.6,8.4,44.3,16.5,...,61.8,49.2,5.9,16.2,736341,8.0,92.0,258075,81.3,18.7
48,Wisconsin,24.3,8.1,6.9,6.0,10.9,38.0,5.7,32.4,13.6,...,73.3,35.7,5.2,10.2,2491121,6.5,93.5,1031942,76.5,23.5
49,Wyoming,26.6,8.7,6.0,6.4,10.0,34.2,3.2,30.3,12.4,...,71.0,31.2,11.5,11.1,243321,4.1,95.9,101037,73.7,26.3

In [54]:
display(df_final.describe())

,Males - Arthritis-DataValue,Males - Asthma-DataValue,Males - Bill Payment Instability-DataValue,Males - COPD-DataValue,Males - Diabetes-DataValue,Males - Obesity-DataValue,Males - Transportation Instability-DataValue,Females - Arthritis-DataValue,Females - Asthma-DataValue,Females - Bill Payment Instability-DataValue,...,est - Pop With Private Health Insurance - %,est - Pop With Public Health Insurance - %,est - Pop Uninsured - %,est - Pop 18 and Over Below Poverty - %,est - Occupied Housing Units,est - Households With No Vehicles - %,est - Households With 1 and Over Vehicles - %,est - Owner-Occupied With Mortgage,est - Mortgage Costs less than 30 percent Income - %,est - Mortgage Costs 30 precent or more of Income - %
count,50.000000,50.000000,34.000000,50.000000,50.000000,50.000000,34.000000,50.000000,50.000000,34.000000,...,50.000000,50.000000,50.000000,50.000000,5.000000e+01,50.000000,50.000000,5.000000e+01,50.000000,50.000000
mean,24.156000,7.616000,9.441176,6.290000,12.174000,33.238000,7.217647,31.754000,13.266000,12.564706,...,68.476000,37.474000,7.404000,11.474000,2.590879e+06,7.034000,92.966000,1.020545e+06,73.310000,26.690000
std,3.451954,1.214262,2.003046,1.819537,1.957071,3.416819,1.484765,4.060824,1.685788,2.490939,...,5.109198,5.112003,2.690115,2.221951,2.742351e+06,3.714484,3.714484,1.006118e+06,4.530813,4.530813
min,18.000000,4.800000,5.700000,3.300000,8.500000,24.900000,3.200000,22.800000,9.800000,8.700000,...,54.400000,22.200000,2.400000,7.300000,2.433210e+05,3.700000,70.900000,1.010370e+05,58.200000,18.700000
25%,21.825000,6.825000,8.000000,4.900000,10.700000,31.050000,6.000000,29.725000,12.325000,10.600000,...,65.250000,34.525000,5.600000,10.100000,7.530450e+05,5.225000,92.800000,3.150848e+05,70.525000,23.550000
50%,23.700000,7.700000,9.250000,6.000000,12.000000,33.100000,7.200000,31.650000,13.000000,12.850000,...,68.750000,37.350000,6.750000,11.350000,1.822791e+06,6.250000,93.750000,7.066230e+05,73.700000,26.300000
75%,26.300000,8.250000,10.725000,7.025000,13.300000,35.300000,8.150000,33.275000,14.100000,14.600000,...,72.550000,39.900000,8.750000,12.100000,3.022559e+06,7.200000,94.775000,1.276155e+06,76.450000,29.475000
max,35.700000,11.400000,13.200000,12.900000,17.300000,41.600000,10.100000,44.300000,17.000000,17.600000,...,78.400000,51.200000,16.600000,16.900000,1.355059e+07,29.100000,96.300000,5.044333e+06,81.300000,41.800000

In [ ]:
save_df_to_csv(df_final, './data/processed/Final_dataset.csv')

In [99]:
# Final visualization dataset based on the Census Categories vs Diabetes.
print(df_final.columns)
# dia_met_df = diabete_metrics(df_final)

Index(['State', 'Males - Arthritis-DataValue', 'Males - Asthma-DataValue',
       'Males - Bill Payment Instability-DataValue', 'Males - COPD-DataValue',
       'Males - Diabetes-DataValue', 'Males - Obesity-DataValue',
       'Males - Transportation Instability-DataValue',
       'Females - Arthritis-DataValue', 'Females - Asthma-DataValue',
       'Females - Bill Payment Instability-DataValue',
       'Females - COPD-DataValue', 'Females - Diabetes-DataValue',
       'Females - Obesity-DataValue',
       'Females - Transportation Instability-DataValue',
       'Overall - Arthritis-DataValue', 'Overall - Asthma-DataValue',
       'Overall - Bill Payment Instability-DataValue',
       'Overall - COPD-DataValue', 'Overall - Diabetes-DataValue',
       'Overall - Obesity-DataValue',
       'Overall - Transportation Instability-DataValue', 'est - Total Pop',
       'est - Total Pop - Male - %', 'est - Total Pop - Female - %',
       'est - Total Pop 18 and Over - %',
       'est - Total Pop 18 and Over – Male - %',
       'est - Total Pop 18 and Over – Female - %',
       'est - Pop 25 and Over - Educated',
       'est - Pop 25 and Over – HS Graduate or Higher - %',
       'est - Pop 25 and Over – Male HS and Over - %',
       'est - Pop 25 and Over – Female HS and Over - %',
       'est - Civilian Pop 18 and Over',
       'est - Civilian Veterans 18 and Over - %', 'est - Pop 16 and Over',
       'est - Pop 16 and Over – Labor Force - %',
       'est - Pop 16 and Over – Civilian Labor - %',
       'est - Pop 16 and Over – Employed - %',
       'est - Pop 16 and Over – Unemployed - %',
       'est - Unemployment Rate – 16 and Over - %',
       'est - Pop 16 and Over – Armed Forces - %',
       'est - Pop 16 and Over – Not in Labor Force - %',
       'est - Workers 16 and Over',
       'est - Workers 16 and Over – Drove Alone - %',
       'est - Workers 16 and Over – Carpooled - %',
       'est - Workers 16 and Over – Public Transit - %',
       'est - Workers 16 and Over – Walked - %',
       'est - Workers 16 and Over – Other Transport - %',
       'est - Workers 16 and Over – Work From Home - %',
       'est - Avg Commute Time (Min)', 'est - Households With Income',
       'est - Median Household Income', 'est - Households With Earnings - %',
       'est - Mean Household Earnings',
       'est - Households With Social Security Income - %',
       'est - Mean Social Security Income',
       'est - Households With Suppliemental Security Income - %',
       'est - Mean Suppliemental Security Income',
       'est - Households With Cash Assistance - %',
       'est - Mean Cash Assistance Income',
       'est - Households With Retirement Income - %',
       'est - Mean Retirement Income', 'est - Households With SNAP - %',
       'est - Individuals With Income', 'est - Per Capita Income',
       'est - FTYR Workers – Male', 'est - FTYR Workers – Female',
       'est - Median Earnings – FTYR Male',
       'est - Median Earnings – FTYR Female',
       'est - Civilian Noninstitutionalized Pop',
       'est - Pop With Private Health Insurance - %',
       'est - Pop With Public Health Insurance - %', 'est - Pop Uninsured - %',
       'est - Pop 18 and Over Below Poverty - %',
       'est - Occupied Housing Units', 'est - Households With No Vehicles - %',
       'est - Households With 1 and Over Vehicles - %',
       'est - Owner-Occupied With Mortgage',
       'est - Mortgage Costs  less than 30 percent Income - %',
       'est - Mortgage Costs 30 precent or more of Income - %'],
      dtype='object')

# **Section: Visualization**